<%- include('partials/header') %>

<body>
  <%- include('partials/navbar') %>

  <div class="container">
    <div>
      <hr />
      <h1 class="m-3">Faça a sua pergunta</h1>

      <a href="/perguntar" class="btn btn-success mx-3"> Perguntar </a>
      <hr />
    </div>

    <% perguntas.forEach(pergunta => { %>

    <div class="card my-3">
      <div class="card-body">
        <h3><%= pergunta.titulo %></h3>
      </div>
      <div class="card-footer">
        <a href="/pergunta/<%= pergunta.id %>"
          ><button class="btn btn-primary">Responder</button></a
        >
      </div>
    </div>

    <% }) %>
  </div>
</body>
<%- include('partials/footer') %>
